.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar{
    background-color: transparent;
    position: absolute;
    bottom: 80%;
    right: 5%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    
}

.nav-bar-companyName a {
    font-weight:bolder;
    color: lightgray;
    text-decoration: none;
}

.nav-bar-links ul li {
        justify-content: space-around;
}
.nav-bar-links li{
    font-size: 20px;
    list-style: none;
    display: inline;
    margin-right: 25px;
}

.nav-bar-links a {
    color: white;
    font-weight: lighter;
    text-decoration: none;
}
